.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 888px;
}

.u-section-1 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: -3px 69px 0 auto;
}

.u-section-1 .u-tabs-1 {
  min-height: 768px;
  margin-top: 31px;
  margin-bottom: 51px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/dfaa1a31ed03de64a49181fe66dbbef3ec508e9dcc2df705d48f5e6d0157fa1a361470958eccc7aa4bffda35ae94e66c83b22e29c5cc482d6e3b0f_1280.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -86px 818px 0 183px;
}

.u-section-1 .u-group-1 {
  width: 617px;
  min-height: 36px;
  margin: -39px 141px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 845px 0 183px;
}

.u-section-1 .u-group-2 {
  width: 616px;
  min-height: 36px;
  margin: -40px 141px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 786px 0 183px;
}

.u-section-1 .u-group-3 {
  width: 614px;
  min-height: 36px;
  margin: -39px 141px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 848px 0 183px;
}

.u-section-1 .u-group-4 {
  width: 617px;
  min-height: 36px;
  margin: -34px 140px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 794px 0 183px;
}

.u-section-1 .u-group-5 {
  width: 614px;
  min-height: 36px;
  margin: -35px 141px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 691px 0 183px;
}

.u-section-1 .u-group-6 {
  width: 520px;
  min-height: 36px;
  margin: -31px 140px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  margin: -37px auto 0 963px;
  padding: 6px 21px 7px 19px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px 807px 0 183px;
}

.u-section-1 .u-group-7 {
  width: 614px;
  min-height: 36px;
  margin: -35px 143px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  margin: -39px auto 0 963px;
  padding: 6px 21px 7px 19px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.875rem;
  margin: 82px auto 0;
  padding: 6px 21px 7px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-top: 1647px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 259px;
    min-height: 33px;
    margin-top: -68px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 745px;
  }

  .u-section-1 .u-group-2 {
    width: 259px;
    min-height: 33px;
    margin-top: -13px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 141px;
  }

  .u-section-1 .u-group-3 {
    width: 259px;
    min-height: 33px;
    margin-top: 20px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 141px;
  }

  .u-section-1 .u-group-4 {
    width: 259px;
    min-height: 33px;
    margin-top: -13px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 694px;
  }

  .u-section-1 .u-group-5 {
    width: 259px;
    min-height: 33px;
    margin-top: 20px;
    margin-right: 694px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 694px;
  }

  .u-section-1 .u-group-6 {
    width: 259px;
    min-height: 33px;
    margin-top: 20px;
    margin-right: 694px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 77px;
    margin-left: 763px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -95px;
    margin-right: 707px;
  }

  .u-section-1 .u-group-7 {
    width: 259px;
    min-height: 33px;
    margin-top: -13px;
    margin-left: 183px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 763px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-top: 2271px;
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 377px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: 44px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 549px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 46px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 611px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 43px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 557px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 46px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 454px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 149px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 543px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 570px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 46px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-top: 1640px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 144px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 144px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 426px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 488px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 434px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 331px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: 403px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -63px;
    margin-right: 430px;
    margin-left: 144px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 927px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 91px;
    width: 91px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 220px;
    min-height: 36px;
    margin-top: -34px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 266px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 246px;
    min-height: 36px;
    margin-top: -38px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-right: 203px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 183px;
    min-height: 38px;
    margin-top: -34px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 250px;
    min-height: 36px;
    margin-top: -34px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-right: 221px;
    margin-left: -10px;
  }

  .u-section-1 .u-group-5 {
    width: 201px;
    min-height: 101px;
    margin-top: -38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 17px;
    margin-right: 220px;
    margin-left: -10px;
  }

  .u-section-1 .u-group-6 {
    width: 200px;
    min-height: 36px;
    margin-top: -73px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 20px;
    margin-right: 237px;
    margin-left: -10px;
  }

  .u-section-1 .u-group-7 {
    width: 196px;
    min-height: 36px;
    margin-top: -38px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 166px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 80px;
  }
}